body
{
	text-align: center;
	font-family: 'Montserrat', sans-serif;

}

.encabezado
{
	background-color: #65B031;
	
	margin: 0;
	border-radius: 45%;
}
.titulo
{
	font-size: 80px;
	text-align: center;
	color: white;
}
#c
{
	
}
